/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lato&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');

*{
    box-sizing: border-box;
}
header,section{
    overflow-x: hidden;
}
:root{
    --snigle-font:"Sniglet", cursive;
    --Rubik:"Rubik", cursive;
    --Patua:"Patua One", cursive;
    --Lobster:"Lobster", cursive;
    --light-black: #2e2c2caf;
    --bg-gradient:linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255,255,255, 0.9);
}

header a{
    font-family:var(--snigle-font);
    font-size: 0.9em;
    color: whitesmoke;
}
header{
    background: #dd2476;
    background:var(--bg-gradient);
    height: 100vh;
}
.dropdown-content{
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
    min-width: 160px;
}
.dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-menu li a:hover{
   background-color: #ddd;
}

header .nav-item:last-child{
    padding-right: 10em;
}
header .nav-item{
    padding: 0.9em;
}

header .navbar-brand{
    padding-left: 8rem;
}
header .nav-link{
    color: #fff;
}
header .nav-link:hover{
    color: black;
}
header .row .col-md-5{
    padding: 4.2vmin 1vmin;
}
header .row .col-md-7{
    margin-top: 25vmin;
    color: var(--light-gray);
}
header .row .col-md-7 h6{
   letter-spacing: 4px;
}
header .row .col-md-7 h1{
    font-size: 7vmin;
    font-weight: bold;
 }
 header .row .col-md-7 p{
    font-size: 1.2rem;
 }
.section-1 .container .pray img{
    opacity: 0.8;
    width: 80%;
    /* object-fit: cover;
    object-position: center; */

}
.section-1 .col-md-6{
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    height: 100vh;
}
.section-1 .col-md-6 .pray img{
    margin-left: 25vmin;
    border-radius: 5px;
}
.section-1 .row .col-md-6:last-child{
    position: relative;
}
.section-1 .col-md-6 .panel-text-left{
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 1vmin;
    box-shadow:0px 25px 42px rgba(0,0,0,0.2) ;
    font-family: var(--Rubik);
    z-index: 1;
}
.section-1 .col-md-6 .panel-text-left h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
.section-1 .col-md-6 .panel-text-left p{
    font-size: 1em;
    color: rgba(0,0,0,0.7);
}
.cover{
    width: 100%;
    height: 55vmin;
    background-image: url(../assets/pexels-photo-452738.jpeg);
    background-position: top;
    background-position-y: -12vmin;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.cover .content{
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}
.cover .content>h1{
    color: whitesmoke;
    font-size: 6vmin;
    font-family: var(--Patua);

}
.cover .content>p{
    color: #e5e5e5;
    font-size: 2vmin;
    font-family: var(--Rubik);

}